<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="block">
                    <h2 class="text-center">Access to MyCoin</h2>
                    <form class="text-left clearfix mt-50" action="/login" method="POST" >
                        <div class="form-group">
                            <input name="PrivateKey" id="PrivateKey" type="text" class="form-control"  placeholder="Private Key">
                        </div>
                        <button type="submit" class="btn btn-main" >Sign In</button>
                    </form>
                    <p class="mt-20">Do not have a wallet?<a href="/signup">Create a new wallet</a></p>
                </div>
            </div>
        </div>
    </div>
</section>