<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="block text-center">
            <h2 class="text-center">Get a new wallet</h2>
            <p class="mt-20">Already have a wallet?<a href="login"> Access My Wallet</a></p>
              <button id="btnCreateWallet" type="button" style="background-color: white;color:mediumseagreen;" class="btn btn-main text-center">Create</button>
          </div>
        </div>
      </div>
    </div>
  </section>